extends ../layouts/layout

block content
    .container
        .row.justify-content-center
            .col-md-8
                .card
                    .card-header Login
                    .card-body
                        form(method='POST', action="/login")
                            input(type='hidden', name='_csrf', value=_csrf)
                            .form-group.row
                                label.col-sm-4.col-form-label.text-md-right(for='email') E-Mail Address
                                .col-md-6
                                    input#email.form-control(type='email' name='email' required='')
                            .form-group.row
                                label.col-md-4.col-form-label.text-md-right(for='password') Password
                                .col-md-6
                                    input#password.form-control(type='password' name='password')
                            .form-group.row
                                .col-md-6.offset-md-4
                                    .form-check
                                        input#remember.form-check-input(type='checkbox', name='remember')
                                        label.form-check-label(for='remember')
                                            | Remember Me
                            .form-group.row.mb-0
                                .col-md-8.offset-md-4
                                    button.btn.btn-primary(type='submit')
                                        | Login
                                    a.btn.btn-link(href="/password/reset")
                                        | Forgot Your Password?
