doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= message
    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Nunito', rel='stylesheet', type='text/css')
    // Styles
    style.
        html, body {
            background-color: #fff;
            color: #636b6f;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            font-weight: 100;
            height: 100vh;
            margin: 0;
        }

        .full-height {
            height: 100vh;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .content {
            text-align: center;
        }

        .title {
            font-size: 36px;
            padding: 20px;
        }

        .p {
            font-size: 12px;
        }
body
    .flex-center.position-ref.full-height
      .content
        .title
          #{error.status}
          pre #{message}

