extends ../../layouts/layout

block content
    .container
        .row.justify-content-center
            .col-md-8
                .card
                    .card-header Reset Password
                    .card-body
                        if (typeof session.status_msg !== "undefined")
                            #{console.log("STSTS: "+session.status_msg)}
                            .alert(class="alert-"+session.status_type role='alert') #{session.status_msg}

                        form(method='POST', action="/password/email")
                            input(type='hidden', name='_csrf', value=_csrf)
                            .form-group.row
                                label.col-sm-4.col-form-label.text-md-right(for='email') E-Mail Address
                                .col-md-6
                                    input#email.form-control(type='email' name='email' required='')
                            .form-group.row.mb-0
                                .col-md-6.offset-md-4
                                    button.btn.btn-primary(type='submit')
                                        | Send Password Reset Link